.table {
	border-color: #A2A9B1;	
}

.wikitable {
	background-color: #F8F9FA;
	color: black;
	font-weight: normal;
	
	header-background-color: #EAECF0;
	header-color: black;
	header-font-weight: bold;
	header-font-size: 9;
}