.wikitable .hl3 {
	background-color: #8da7d6;
}
.wikitable .hl1 {
	background: #c5d8fc;
}
.wikitable .hl2 {
	background: #a7c1f2;
}
.wikitable {
	page-break-inside: avoid;
}

table.wikitable {
	background:#fff;
	margin:1em 0;
	border:1pt solid #aaa;
	border-collapse:collapse;
}
table.wikitable {
	font-weight:bold;
}
table.listing {
	border:1pt solid #000;
	border-collapse:collapse;
}