.header {
	font-size: 130%;
	font-weight: bold;
	color: black;
}

.header h1 {
}

.header h2 {
	font-size: 120%;
}

.header h3 {
	font-size: 110%;
}

.header h4 {
	font-size: 100%;
}

.header h5 {
	font-size: 100%;
}

.header h6 {
	font-size: 100%;
}
